body {
    background-image: url("https://img.freepik.com/free-photo/gold-silver-chess-chess-board-game-business-metaphor-leadership-concept_1150-19586.jpg?t=st=1709788726~exp=1709792326~hmac=d9cca9bb81776f0b2b675a7263f7391b1befcd40775fceb48f39826709a58414&w=740");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;  
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px rgb(0, 0, 0);
    color: rgb(255, 253, 253);
   
  }
  .chessboard {
    width: 400px;
    height: 400px;
    border: 5px solid black;
    box-shadow: 5px 5px 5px rgb(242, 246, 248);
  }
 
  .square {
    width: 50px; 
    height: 50px;
    float: left; 
  }

 .black {
    background-color: black; 
  }
 
 
  .white {
    background-color:white; 
  }